

 				</div>
			</div>


			
			<footer id="footer">
				<div class="inner">

				</div>
			</footer>
		</div>	






          <div id="contact" class="modal hide fade">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">&times;</a>
              <h3>Get in touch</h3>
            </div>
            <div class="modal-body">
              <p>There was no sense putting a complicated contact form here, so just shoot me an email to <a href="mailto:seth@sethhochberg.com">seth@sethhochberg.com</a>.</p>

            </div>

          </div>




	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/script.js"></script>

	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20896088-2']);
  _gaq.push(['_setDomainName', 'sethhochberg.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	</body>
</html>
