<!doctype html>
<html itemscope itemtype="http://schema.org/Organization" lang="en">
		<meta charset="utf-8"/>

{% case page.layout %}
{% when 'default' %}
		<!-- TO Fancy SEARCH ENGINE -->
		<title>Seth Hochberg</title>
		<meta name="description" content="Computers, music, and other fun things"/>

{% else %}
		<title>{{ site.tagline }} - {{ page.title }} - Seth Hochberg</title>
		<meta name="description" content="Computers, music, and other fun things"/>


{% endcase %}
		<meta name="keywords" content="web design, web application development, UI design, CSS, XHTML, web standards, small business web design, web design consultancy, Magpie Lab"/>
		<meta name="robots" content="noodp" />
		
		<link rel="canonical" href="http://www.sethhochberg.com"/>
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<link rel="stylesheet" media="all" href="/static/css/style.css"/>	
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

	</head>

	
	<body class="{% body_class %}">	

		<div id="wrapper">
			<header id="header">
				<div class="inner">
{% case page.layout %}
{% when 'default' %}
					<hgroup><h1 id="site-name">Seth Hochberg</h1></hgroup>	

{% else %}
					<div id="site-name">Seth Hochberg</div>
{% endcase %}


				<nav id="navigation">



					{% unless page.layout == 'front' %}
					  <ul class="navigation">
					    {% for link in site.navigation %}
					      {% assign current = nil %}
					      {% if page.url == link.url or page.layout == link.layout %}
					        {% assign current = 'current' %}
					      {% endif %}

					      <li class="{% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}">
					        <a class="{{ current }}" href="{{ link.url }}">{{ link.text }}</a>
					      </li>
					    {% endfor %}
					    <li><a data-toggle="modal" data-controls-modal="modal" data-backdrop="fade" href="#contact">Contact Me</a></li>


					  </ul>
					{% endunless %}

				</nav>

				</div>
			</header>
{% case page.layout %}
{% when 'default' %}
			<section id="banner" class="section">
				<div class="inner">
					<p class="atract"><span class="darker">I build systems</span><br> - community, software, audio, or otherwise.</p>
					<p class="actions">Want to know more? <a data-toggle="modal" data-controls-modal="modal" data-backdrop="static" href="#contact" class="button big action">Give me a shout.</a></p>
				</div>
			</section>
{% endcase %}

			<div id="main">
				<div class="inner">



